body {
    background-color:#F6F7FA;
}

.barra-superior {
    border: 15px;
    background-color:white;
    text-align: center;
}


#titulo {
    border: 15px;
}

.conteudo-principal {
    margin: auto;
    padding-top: 50px;
}

.bloco-conteudo {
    background-color:white;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
}

.parceiros {
    border:15px;
}

.barra-inferior {
    text-align:left;
}



