{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Univesp PI - Polo Jacana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'cadastro/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'cadastro/main.css' %}">
  </head>
  <body>
    <div class="container">      
      <h1>Esses são algumas propostas para o primeiro piloto de PI da Univesp do grupo do Polo Jaçanã!</h1>
      <h2> Alteracao teste e em conjunto </h2>>

      {% block content %}
      {% endblock %}
    </div>


    
    <script src="{% static 'cadastro/ootstrap.min.js' %}">

  </body>
</html>