{% extends 'templates/../model-page.html' %}

{% block content %}
<header class="blog-header justify-content-center align-items-center m-0 p-0">
    <div class="row flex-nowrap justify-content-center align-items-center">
        <div class="col-md-8 pt-1">
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
                <h2 class="display-4 font-italic">Mural Fofura</h2>
                <p class="my-3">Confira nossos animais para adoção.</p>
            </div>
        </div>
    </div>
</header>

{% if documents %}
{% for document in documents %}
    <div class="row justify-content-center m-1"> 
        <div class="col-md-8">
            <div class="card flex-lg-row mb-4 shadow h-lg-250">
                <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px;" src="{{ document.docfile.url }}" data-holder-rendered="true">
                <div class="card-body d-flex">
                    <h3 class="mb-0 w-100">
                        Nome do cachorro: {{ document.nome_cachorro }}
                    </h3>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <p class="card-text mb-auto w-100">Porte do cachorro: {{ document.porte_cachorro }}</p>
                </div>
                <div>
                    Idade do cachorro: {{ document.idade_cachorro }}
                </div>
                <div>
                    Descrição: {{ document.descricao|safe|escape }}
                </div>
                <div>
                    Sexo: {{ document.sexo }}
                </div>
                <div>
                    Porte: {{ document.porte }}
                </div>
                <div>
                    Tipo: {{ document.tipo }}
                </div>
                <div>
                    Data de nascimento: {{ document.data_nascimento }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row justify-content-center m-1"> 
        <div class="col-md-8">
            <div class="card flex-lg-row mb-4 shadow h-lg-250">
                No Documento
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
