{% extends 'model-page.html' %}

{% block content %}
<section>
    <h2>Sobre nós</h2>
    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis neque mi, a rutrum velit ultricies at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse varius imperdiet enim. Vivamus erat nisl, pellentesque vitae iaculis non, viverra eu nunc. Aenean vel metus ante. In id tristique sapien. Cras vulputate nec risus sit amet laoreet. Vestibulum vestibulum tellus in ipsum tristique, eget lobortis ex convallis. Sed posuere sagittis tempus. Duis sed pellentesque ligula, a sollicitudin mauris. Donec massa tortor, ultrices vitae porta a, varius eget felis. In a vestibulum massa. Quisque vel nunc felis. Nam vestibulum orci a orci posuere gravida</article>
</section>
<section>
    <h2>Onde estamos</h2>
    <article>Lorem ipsum dolor sit amet, consectetur adipiscing.</article>
</section>
<section>
    <h2>Como adotar</h2>
    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat tempus tincidunt. Curabitur ut mollis odio. Duis a magna nisl. Mauris ac felis sit amet ex tristique scelerisque. Integer fringilla sem vitae libero euismod congue. Suspendisse sollicitudin eros in mollis faucibus. Sed pharetra hendrerit quam, tempus hendrerit ligula aliquet in. Proin mollis, augue nec semper malesuada, lacus metus suscipit elit, et accumsan ligula sapien a elit. Mauris pretium eleifend laoreet. Fusce id efficitur mauris, a pulvinar odio. Sed convallis fermentum libero, at ullamcorper sapien ultrices eget. Vestibulum ut euismod ex, eget scelerisque tortor. Praesent et consectetur velit.</article>
</section>
<section>
    <h2>Como ajudar</h2>
    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat tempus tincidunt. Curabitur ut mollis odio. Duis a magna nisl. Mauris ac felis sit amet ex tristique scelerisque. Integer fringilla sem vitae libero euismod congue. Suspendisse sollicitudin eros in mollis faucibus. Sed pharetra hendrerit quam, tempus hendrerit ligula aliquet in. Proin mollis, augue nec semper malesuada, lacus metus suscipit elit, et accumsan ligula sapien a elit. Mauris pretium eleifend laoreet. Fusce id efficitur mauris, a pulvinar odio. Sed convallis fermentum libero, at ullamcorper sapien ultrices eget. Vestibulum ut euismod ex, eget scelerisque tortor. Praesent et consectetur velit.</article>
</section>
<section>
    <h2>Como apadrinhar</h2>
    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat tempus tincidunt. Curabitur ut mollis odio. Duis a magna nisl. Mauris ac felis sit amet ex tristique scelerisque. Integer fringilla sem vitae libero euismod congue. Suspendisse sollicitudin eros in mollis faucibus. Sed pharetra hendrerit quam, tempus hendrerit ligula aliquet in. Proin mollis, augue nec semper malesuada, lacus metus suscipit elit, et accumsan ligula sapien a elit. Mauris pretium eleifend laoreet. Fusce id efficitur mauris, a pulvinar odio. Sed convallis fermentum libero, at ullamcorper sapien ultrices eget. Vestibulum ut euismod ex, eget scelerisque tortor. Praesent et consectetur velit.</article>
</section>
<section>
    <h2>Horário de Atendimento</h2>
    <article>
        Seg - Sex 10:00 - 18:00
        Sab - Dog 09:00 - 14:00
    </article>
</section>
{% endblock %}