{% extends 'model-page.html' %}

{% block content %}
<section>
    <section class="bloco-conteudo">
        <h2>O que é o projeto Kãotinho no Coração?</h2>
        <article>
            É um projeto de proteção, cujo objetivo é resgatar e recuperar animais abandonados ou que estejam sofrendo maus-tratos.
            O nosso projeto é independente e sem fins lucrativos, não estamos envolvidos com ONGs nem com empresas. No entanto, estamos abertos à realização de parcerias, desde que elas respeitem nossos valores e o bem estar dos animais!
        </article>
    </section>
    <section class="bloco-conteudo">
        <h2>Como surgiu?</h2>
            O grupo surgiu a partir da união de voluntários, que se conheceram pela internet e resolveram reunir forças para acabar com o sofrimento dos animais que viviam num abrigo em condições precárias.
            Depois de mais de seis meses, o grupo continuou unido e tomou uma dimensão maior, por isso, resolvemos criar um projeto de proteção, para que possamos dar visibilidade e continuidade ao trabalho que iniciamos no fim do ano passado.
    </section>
    <section class="bloco-conteudo">
        <h2>Como posso ajudar?</h2>
        Você pode ajudar doando dinheiro, ração, medicamentos, roupinhas, caminhas, casinhas, cobertores, petiscos, produtos de limpeza e produtos para pets em geral.
        Você também pode se unir ao nosso grupo como voluntário!
    </section>
    <section class="bloco-conteudo">
        <h2>Para que vocês precisam de dinheiro?</h2>
        Os animais que chegam até nós, geralmente, estão debilitados, desnutridos e em péssimas condições de saúde, apresentando desde sarna, pulgas, verminoses, doença do carrapato, bicheiras, até de tumores e doenças venéreas. Muitos foram espancados, torturados, atropelados. É um verdadeiro horror, não sabemos de onde esses bichinhos tiram forças para continuar vivos, por isso, por pior que seja o estado dos animais, não desistimos deles. No entanto, eles só podem ser doados depois que estiverem completamente curados, em boas condições de saúde, castrados e vacinados.
        Mas para que possamos atuar na recuperação física e emocional dos animais, precisamos de dinheiro, que, muitas vezes, sai de nossos próprios bolsos .
        Por isso, para que o nosso trabalho continue, sua doação é muito importante!
    </section>
    <section class="bloco-conteudo">
        <h2>Quero adotar um amigo!</h2>
        Ótimo! O nosso maior sonho é que nossos animais encontrem um lar! Nós vamos te ajudar a escolher um bichinho que combine com você e com a sua família.
        No entanto, valorizamos o bem-estar dos animais, portanto, temos um processo rigoroso de entrevista com nossos adotantes, para ter certeza de que eles vão para um lugar seguro, onde serão amados e bem tratados. Não podemos correr o risco de que eles voltem a sofrer novamente.
    </section>
    <section class="bloco-conteudo">
        <h2>Não posso adotar um amigo agora...</h2>
        Tudo bem! Existem outras formas de ajudar! Você pode apadrinhar um cachorrinho do abrigo, contribuindo mensalmente com uma quantia ou cobrindo suas despesas com castração, vacinas e vermífugos, você também pode visitá-lo no abrigo e nos ajudar a encontrar um lar bem bacana para ele!
        Outra maneira de ajudar é divulgando o nosso projeto e os animais que estão prontos para adoção!
        Doe e nos ajude a tratar e manter os animais que estão sob nossa proteção!
    </section>
    <section class="bloco-conteudo">
        <h2>Onde estamos</h2>
        <article>Mairiporã - SP</article>
    </section>
</section>
{% endblock %}