{% load static %}

<head>
    <title>Projeto Kaotinho</title>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site do abrigo de animais Kãotinho">
    <meta name="author" content="Alunos da UNIVESP - Eixo Computação - 2020">
    <!-- Principal CSS do Bootstrap -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'modelo/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Estilos customizados para esse template -->
        <!-- Bootstrap Carousel-->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/carousel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/blog.css' %}">
        <!-- Customização Personalizada -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
