{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    {% include "model-head.html" %}
</head>

<body>
    <!-- Navbar -->
    <header class="barra-superior" id=barra-superior>
        {% include "model-navbar.html" %}
    </header>

    <!-- Corpo Principal -->
    <main role="main" class="mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Rodapé -->
    <footer class="footer mt-auto py-3" id="barra-inferior">
        {% include "model-footer.html" %}
    </footer>

    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--<script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>-->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <!--<script type="text/javascript" src="{% static 'bootstrap/js/popper.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'modelo/holder.min.js' %}"></script>

</body>

</html>