{% load static %}

<div class="container">
  <div class="row navbar navbar-nav bg-white p-0  fixed-bottom">
    <div class="col">
      <span class="nav-item d-none d-md-block fs-6 fw-lighter align-middle text-center">
        Desenvolvido pelos alunos da UniVESP - Turma 2020 na disciplina de Projeto Integrador I
      </span>
    </div>
    <div class="col">
      <span class="nav-item fs-6 fw-lighter align-middle text-center p-0">
        <a class="nav-link" href="#">Voltar ao topo</a>
      </span>
    </div>
  </div>
</div>