{% load static %}

<!DOCTYPE html>

<html lang="pt-br">

<head>
    {% include "model-head2.html" %}
</head>

<body>
    <!-- Navbar -->
    <header class="barra-superior">
        {% include "model-navbar.html" %}
    </header>

    <!-- Corpo Principal -->
    <main role="main" class="mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Rodapé -->
    <footer class="barra-inferior mt-auto py-3">
        {% include "model-footer.html" %}
    </footer>

    <!-- Principal JavaScript do Bootstrap
    ================================================== -->
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
    <!--<script src="{% static 'modelo/jquery-3.3.1.slim.min.js.download' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'modelo/popper.min.js.download' %}"></script>
    <script src="{% static 'modelo/bootstrap.min.js.download' %}"></script>
    <script src="{% static 'modelo/holder.min.js' %}"></script>
    <script>
        Holder.addTheme('thumb', {
          bg: '#55595c',
          fg: '#eceeef',
          text: 'Thumbnail'
        });
    </script>-->
     
</body>

</html>