{% load static %}

<head>
  
    <title>Projeto Kaotinho</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site do abrigo de animais Kãotinho">
    <meta name="author" content="Alunos da UNIVESP - Eixo Computação - 2020">
    

    <!-- Principal CSS do Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Estilos customizados para esse template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
