{% extends 'model-page.html' %}

{% block content %}
<section>
    <h2>Nossos Parceiros</h2>
    <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis neque mi, a rutrum velit ultricies at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse varius imperdiet enim. Vivamus erat nisl, pellentesque vitae iaculis non, viverra eu nunc. Aenean vel metus ante. In id tristique sapien. Cras vulputate nec risus sit amet laoreet. Vestibulum vestibulum tellus in ipsum tristique, eget lobortis ex convallis. Sed posuere sagittis tempus. Duis sed pellentesque ligula, a sollicitudin mauris. Donec massa tortor, ultrices vitae porta a, varius eget felis. In a vestibulum massa. Quisque vel nunc felis. Nam vestibulum orci a orci posuere gravida</article>
</section>
{% endblock %}